.head {
    background-color: gray;
    text-align: center;
    top:15px;
    left: 450px;
    font-weight: bold;
    padding: 0 40px;
    padding-top: 0px;
    height: 45px;
    text-transform: uppercase;
    font: bold 50px/1em Arial, sans-serif;

}

.gray {
    background-color: gray;
}
.img {
    align:center;
    width: 300;
    height: 200;
}