<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en" class='gray'>
<head>
    <title>{% block title %}Blog list{% endblock %}</title>
    {% block css%}
    <link href="{{ STATIC_URL }}css/pagedetail.css" rel="stylesheet" type="text/css" />
    {% endblock %}
</head>
<body>   
    <div id="div1"></div>
    <div class="content">
    {% if passage %}
    <h1 class="head" >{{ passage }}</h1>
    <hr width="50%" SIZE=7 />
    {% if passage.photo%}
    <img class="content-width" align="center" src="/photo/{{ name }}">
    {% else %}
    <hr/>
    {% endif %}
    <p>{{ passage.text }}</p>
    <a href='/myblogs'>Click here back to list.</a>
        {% else %}
        <p>This passage is not exit!</p>
    {% endif %}
</div>
    {% block footer %}
    </hr>
    <p align="center">Thanks for visiting my site</p>
    {% endblock %}
     <div id="div2"></div>
</body>
</html>